<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/carrito.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <h1>Producto1</h1>
        <h1>Producto2</h1>
        <h1>Producto3</h1>
        <h1>Procucto4</h1>
        <h1>Producto5</h1>
        <h1>Producto6</h1>
        <h1>Producto7</h1>
        <h1>Producto8</h1>
        <a href=""><i class='bx bx-cart'></i></a>
    </header>

    <main>
        <div class="todo">
            <section class="primer"></section>
                <div class="image">
                    <div class="left">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                    </div>
                    <div class="right">
                        <img src="../storage/img/Antesdiciembre.jpg" alt="" class="product1">
                    </div>
                </div>
                <div class="nombre">
                    <h2>Nombre del producto</h2>
                    
                    <img src="../storage/img/calificacion.jpg" alt="">
                    <div class="contenido">
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing
                            elit, donec magnis platea sodales lectus aliquam 
                            class auctor, leo sapien egestas natoque velit 
                            malesuada. Massa posuere vestibulum et nullam hac 
                            eleifend, mus interdum nibh sollicitudin habitant 
                            convallis nam, auctor sodales facilisi cubilia 
                            ullamcorper. Senectus quisque ornare sollicitudin.</p>
                        <h3>$ 100.000 $99.99</h3>
                        
                        <a href=""><button>Obtener</button></a>
                    </div>
                </div>
            </section>

            <section class="primer"></section>
                <div class="image">
                    <div class="left">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                    </div>
                    <div class="right">
                        <img src="../storage/img/Antesdiciembre.jpg" alt="" class="product1">
                    </div>
                </div>
                <div class="nombre">
                    <h2>Nombre del producto</h2>
                    
                    <img src="../storage/img/calificacion.jpg" alt="">
                    <div class="contenido">
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing
                            elit, donec magnis platea sodales lectus aliquam 
                            class auctor, leo sapien egestas natoque velit 
                            malesuada. Massa posuere vestibulum et nullam hac 
                            eleifend, mus interdum nibh sollicitudin habitant 
                            convallis nam, auctor sodales facilisi cubilia 
                            ullamcorper. Senectus quisque ornare sollicitudin.</p>
                        <h3>$ 100.000 $99.99</h3>
                        
                        <a href=""><button>Obtener</button></a>
                    </div>
                </div>
            </section>

            <section class="primer"></section>
                <div class="image">
                    <div class="left">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                    </div>
                    <div class="right">
                        <img src="../storage/img/Antesdiciembre.jpg" alt="" class="product1">
                    </div>
                </div>
                <div class="nombre">
                    <h2>Nombre del producto</h2>
                    
                    <img src="../storage/img/calificacion.jpg" alt="">
                    <div class="contenido">
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing
                            elit, donec magnis platea sodales lectus aliquam 
                            class auctor, leo sapien egestas natoque velit 
                            malesuada. Massa posuere vestibulum et nullam hac 
                            eleifend, mus interdum nibh sollicitudin habitant 
                            convallis nam, auctor sodales facilisi cubilia 
                            ullamcorper. Senectus quisque ornare sollicitudin.</p>
                        <h3>$ 100.000 $99.99</h3>
                        
                        <a href=""><button>Obtener</button></a>
                    </div>
                </div>
            </section>

            <section class="primer"></section>
                <div class="image">
                    <div class="left">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                    </div>
                    <div class="right">
                        <img src="../storage/img/Antesdiciembre.jpg" alt="" class="product1">
                    </div>
                </div>
                <div class="nombre">
                    <h2>Nombre del producto</h2>
                    
                    <img src="../storage/img/calificacion.jpg" alt="">
                    <div class="contenido">
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing
                            elit, donec magnis platea sodales lectus aliquam 
                            class auctor, leo sapien egestas natoque velit 
                            malesuada. Massa posuere vestibulum et nullam hac 
                            eleifend, mus interdum nibh sollicitudin habitant 
                            convallis nam, auctor sodales facilisi cubilia 
                            ullamcorper. Senectus quisque ornare sollicitudin.</p>
                        <h3>$ 100.000 $99.99</h3>
                        
                        <a href=""><button>Obtener</button></a>
                    </div>
                </div>
            </section>

            <section class="primer"></section>
                <div class="image">
                    <div class="left">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                    </div>
                    <div class="right">
                        <img src="../storage/img/Antesdiciembre.jpg" alt="" class="product1">
                    </div>
                </div>
                <div class="nombre">
                    <h2>Nombre del producto</h2>
                    
                    <img src="../storage/img/calificacion.jpg" alt="">
                    <div class="contenido">
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing
                            elit, donec magnis platea sodales lectus aliquam 
                            class auctor, leo sapien egestas natoque velit 
                            malesuada. Massa posuere vestibulum et nullam hac 
                            eleifend, mus interdum nibh sollicitudin habitant 
                            convallis nam, auctor sodales facilisi cubilia 
                            ullamcorper. Senectus quisque ornare sollicitudin.</p>
                        <h3>$ 100.000 $99.99</h3>
                        
                        <a href=""><button>Obtener</button></a>
                    </div>
                </div>
            </section>

        

            <section class="primer"></section>
                <div class="image">
                    <div class="left">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                    </div>
                    <div class="right">
                        <img src="../storage/img/Antesdiciembre.jpg" alt="" class="product1">
                    </div>
                </div>
                <div class="nombre">
                    <h2>Nombre del producto</h2>
                    
                    <img src="../storage/img/calificacion.jpg" alt="">
                    <div class="contenido">
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing
                            elit, donec magnis platea sodales lectus aliquam 
                            class auctor, leo sapien egestas natoque velit 
                            malesuada. Massa posuere vestibulum et nullam hac 
                            eleifend, mus interdum nibh sollicitudin habitant 
                            convallis nam, auctor sodales facilisi cubilia 
                            ullamcorper. Senectus quisque ornare sollicitudin.</p>
                        <h3>$ 100.000 $99.99</h3>
                        
                        <a href=""><button>Obtener</button></a>
                    </div>
                </div>
            </section>

            <section class="primer"></section>
                <div class="image">
                    <div class="left">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                    </div>
                    <div class="right">
                        <img src="../storage/img/Antesdiciembre.jpg" alt="" class="product1">
                    </div>
                </div>
                <div class="nombre">
                    <h2>Nombre del producto</h2>
                    
                    <img src="../storage/img/calificacion.jpg" alt="">
                    <div class="contenido">
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing
                            elit, donec magnis platea sodales lectus aliquam 
                            class auctor, leo sapien egestas natoque velit 
                            malesuada. Massa posuere vestibulum et nullam hac 
                            eleifend, mus interdum nibh sollicitudin habitant 
                            convallis nam, auctor sodales facilisi cubilia 
                            ullamcorper. Senectus quisque ornare sollicitudin.</p>
                        <h3>$ 100.000 $99.99</h3>
                        
                        <a href=""><button>Obtener</button></a>
                    </div>
                </div>
            </section>

            <section class="primer"></section>
                <div class="image">
                    <div class="left">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                        <img src="../storage/img/Joana-Marcus-Wattpad.jpeg" alt="" class="product1">
                    </div>
                    <div class="right">
                        <img src="../storage/img/Antesdiciembre.jpg" alt="" class="product1">
                    </div>
                </div>
                <div class="nombre">
                    <h2>Nombre del producto</h2>
                    
                    <img src="../storage/img/calificacion.jpg" alt="">
                    <div class="contenido">
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing
                            elit, donec magnis platea sodales lectus aliquam 
                            class auctor, leo sapien egestas natoque velit 
                            malesuada. Massa posuere vestibulum et nullam hac 
                            eleifend, mus interdum nibh sollicitudin habitant 
                            convallis nam, auctor sodales facilisi cubilia 
                            ullamcorper. Senectus quisque ornare sollicitudin.</p>
                        <h3>$ 100.000 $99.99</h3>
                        
                        <a href=""><button>Obtener</button></a>
                    </div>
                </div>
            </section>
            <nav class="vent">
                <a href="../index.html"><i class='bx bx-cart'></i></a>
                <div class="titulo">
                    <h2>Detalles</h2>
                </div>
                    <div class="productos">
                        <img src="../storage/img/Antesdiciembre.jpg" alt="">
                        <h3>Nombre del Producto</h3>
                        <h3>5</h3>
                        <p>$ 500.000</p>
                        <p class="small">$499.95</p>
                    </div>
                    <div class="contenido2">
                        <h3>Total</h3>
                        <h3>$ 1.999.8</h3>
                        <button>Pagar</button>
                </div>
            </nav>
        </div>
    </main>
</body>
</html>